:root {
    --container-width: 700px;
    --main-background-color: #1f2937;
    --border-text-color: #e2e8f0;
    --checked-color: #475569;
    --font: 'Varela Round', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: var(--font);
}

header {
    background-color: #6b7280;
    color: white;
}

h1 {
    margin-left: 25%;
    padding: 1rem;
}

body {
    background-color: var(--main-background-color);
    display: grid;
    grid-template-rows: 5rem 1fr;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.wrapper {
    position: relative;
    display: flex;
}
.container {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    border: 2px solid var(--border-text-color);
    width: var(--container-width);
    height: var(--container-width);
}
.tile {
    background-color: var(--main-background-color);
    font-size: 10rem;
    border: 2px solid var(--border-text-color);
    color: var(--border-text-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.tile.win {
    transition: color 0.5s ease-in-out;
    color: red;
}
.tile:hover {
    background-color: #9ca3af;
}

.overlay {
    position: absolute;
    opacity: 0;
    width: var(--container-width);
    height: var(--container-width);
    color: var(--border-text-color);
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 2rem;
    z-index: -1;
    align-items: center;
    justify-content: center;
    background-color: var(--main-background-color);
    transition: z-index 1s ease-in-out, opacity 1s ease-in-out;
}
.overlay.active {
    opacity: 100;
    z-index: 100;
}
.end {
    background-color: transparent;
    backdrop-filter: blur(5px);
}
#end-message {
    padding: 0.5rem;
    text-align: center;
    backdrop-filter: blur(10px);
    border: 3px solid var(--border-text-color);
    border-radius: 5px;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 1.5rem;
    font-size: 1.5rem;
}
fieldset {
    position: relative;
    padding: 2rem;
    display: grid;
    align-items: center;
    margin-top: 1rem;
    min-width: 100%;
    border: 3px solid var(--border-text-color);
    border-radius: 5px;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
legend {
    position: absolute;
    top: -2rem;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.player-name, .ai-level {
    display: none;
    grid-column: 1/3;
}
.player-name.active, .ai-level.active {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.player-name-text {
    width: 100%;
}
.ai-level select {
    flex-grow: 1;
}
.player-name-text, select {
    background-color: transparent;
    border: 2px solid var(--border-text-color);
    color: var(--border-text-color);
    font-weight: bold;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem;
    font-family: var(--font);
}
option {
    background-color: var(--main-background-color);
}


input[type="radio"] {
    display: none;
}
input[type="radio"]+label, button{
    display: block;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid var(--checked-color);
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, scale 0.2s ease-in-out;
}
button {
    background-color: transparent;
    border-color: var(--border-text-color);
    backdrop-filter: blur(10px);
    color: var(--border-text-color);
}
input[type="radio"]:not(:checked)+label:hover, button:hover {
    background-color: #cbd5e1;
    color: var(--main-background-color);
    scale: 1.1;
}
input:checked+label, button:active {
    background-color: var(--checked-color);
    color: var(--border-text-color);
    scale: 1.1;
}
input:checked+label{
    border: 5px solid var(--border-text-color);
}

div.turn {
    opacity: 0;
    color: var(--border-text-color);
    font-size: 4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
}
div.turn.active {
    opacity: 100;
}
.marker {
    font-size: 10rem;
}

@media (max-width: 1100px) {
    :root {
        --container-width: 500px;
    }
    .overlay {
        gap: 1rem;
    }
    form {
        margin: 0 1rem;
        gap: 1rem;
    }
    fieldset {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 1rem;
    }
    .player-name.active, .ai-level.active {
        grid-column: 1/2;
        flex-wrap: wrap;
    }
    .ai-level select {
        width: 100%;
    }
    .tile {
        font-size: 8rem;
    }
    div.turn {
        font-size: 2rem;
    }
    .marker {
        font-size: 6rem;
    }
}

@media (max-width: 40em) {
    :root {
        --container-width: 100vw;
    }
    main {
        display: grid;
        grid-template-rows: var(--container-width);
    }
    .wrapper {
        align-self: start;
    }
    div.turn {
        grid-row: 2/3;
        grid-column: 1/2;
        font-size: 2rem;
        align-self: start;
    }
    .marker {
        font-size: 6rem;
    }
}

@media (max-width: 500px) {
    :root {
        font-size: 15px;
    }
}