* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

header {
    background-color: #6b7280;
    color: white;
}

h1 {
    margin-left: 25%;
    padding: 1rem;
}

body {
    background-color: #1f2937;
    display: grid;
    grid-template-rows: 5rem 1fr;
}

main {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    user-select: none;
}

.container {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 600px;
    height: 600px;
}

.tile {
    background-color: #e5e7eb;
    border: 1px solid black;
    font-size: 8rem;
    text-align: center;
    user-select: none;
}

.tile:hover {
    background-color: #9ca3af;
}

.overlay {
    position: absolute;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background-color: #d1d5db;
    transition: left 0.5s linear;
}
.start {
    left: -600px;
}
.end {
    left: 600px;
}
.overlay.active {
    left: 0;
}

form {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5rem;
}
fieldset {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
label.text-label {
    display: block;
}